body{
    background: color #000;
}

h1{
    color : rgb(255, 78, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    text-decoration:solid;
}

h2{
    font-style: italic;
    color:blue;
    font-size: 40px;
    text-decoration: dotted;
    text-transform: lowercase;
    text-align: center;
    font-weight: normal; /* Tirou o negrito */
    background-color: aquamarine;
}

h3{
    font-style: oblique; /* oblique apenas rotaciona a fonte para deixa-la em itálico*/
    text-transform: lowercase;
    text-align: left;
    text-decoration:solid;
    background-color: crimson;
}
h4{
    text-transform: capitalize; /* deixa todas as primeiras letras em maiusculo*/
    text-align: right;
}

p{
    color : rgb(16, 108, 189);
    text-indent: 25px; /* Identa de acordo com a distancia */
    text-align: justify; /* justify - não é utilizado */
    font-weight: bold; /* colocou em negrito */
}

.destaque{ /* Altera todos os "<p class = "destaque"> frase <p>" */
    color: red;
    font-weight: bold;
}

#destaque{
    color: blue;
}

